<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="css/login.css"/>
		<link rel="stylesheet" href="css/main.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
		<title>Register</title>
	</head>

	<body>
	
		<nav class="navbar navbar-expand-lg navbar-light bg-light reg-nav">
			<i class="reg-icon"></i>
  			<a class="navbar-brand" id="reg-brand" href="#">Datative</a>
		</nav>
		
		<div class="container">
			<div class="login-container">
				<div class="registration-wrap">
					<form th:action="@{/registration}" th:object="${user}" method="post">
						<span class="login-title"> Registration </span>
						
						<div th:if="${param.success}">
							<div class="alert alert-info">You have successfully registered on datative!</div>
						</div>
						<p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</p>
						
						<div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
							<input id="firstName" class="form-control" th:field="*{firstName}" placeholder = "First Name" />
							<p class="error-message" th:each="error: ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
						</div>
						
						<div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
							<input id="lastName" class="form-control" th:field="*{lastName}" placeholder="Surname" />
							<p class="error-message" th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Validation error</p>
						</div>
						
						<div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
							<input id="email" class="form-control" th:field="*{email}" placeholder = "Email Address" />
							<p class="error-message" th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>
						</div>
						
						<div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
							<input id="password" class="form-control" type="password" th:field="*{password}" placeholder = "Password"/>
							<p class="error-message" th:each="error : ${#fields.errors('password')}"th:text="${error}">Validation error</p>
						</div>
						
						<div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
							<input id="confirmPassword" class="form-control" type="password" th:field="*{confirmPassword}" placeholder = "Confirm Password" />
							<p class="error-message" th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}">Validation error</p>
						</div>
						
						<div class="form-group" id="registration-submit-button">
							<!-- <button type="submit" class="btn btn-success">Register</button> -->
							<input type="submit" name="registration-submit" id="registration-submit" class="form-control btn btn-success" value="Register" />
						</div>
						
						<hr>
		
						<div class="form-group" id="register-here">
							<span>Already registered?<a href="/" th:href="@{/login}"> Login</a></span>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</body>
	
</html>